<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SuperPutty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="SuperPuTTY.RefocusOnVisChanged" value="False" />
    <add key="SuperPuTTY.LoopWaitForHandle" value="True" />
  </appSettings>
  
  <log4net>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${TEMP}/SuperPuTTY.%date{yyyyMMdd_HHmmss}.log" />
      <!-- <file value="${TEMP}/SuperPuTTY.log"/> -->
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>

  <userSettings>
    <SuperPutty.Properties.Settings>
      <setting name="PuttyExe" serializeAs="String">
        <value />
      </setting>
      <setting name="PscpExe" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultLayoutName" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationVersion" serializeAs="String">
        <value />
      </setting>
    </SuperPutty.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
